
/**
 * 由 One-step-admin 提供技术支持
 * https://hooray.gitee.io/one-step-admin/
 * Powered by One-step-admin
 * https://hooray.github.io/one-step-admin/
 */
    
[data-v-2a06c1e4]:root{--g-main-sidebar-width: 70px;--g-sub-sidebar-width: 220px}.notfound[data-v-2a06c1e4]{display:flex;align-items:center;justify-content:space-between;width:700px;position:absolute;left:50%;top:50%;transform:translate(-50%) translateY(-50%)}.notfound .icon[data-v-2a06c1e4]{width:400px;height:400px}.notfound .content h1[data-v-2a06c1e4]{margin:0;font-size:72px;color:#303133}.notfound .content .desc[data-v-2a06c1e4]{margin:20px 0 30px;font-size:20px;color:#606266}
