
/**
 * 由 Fantastic-admin 提供技术支持
 * https://hooray.gitee.io/fantastic-admin/
 * Powered by Fantastic-admin
 * https://hooray.github.io/fantastic-admin/
 */
    
.notfound[data-v-31afb51c]{display:flex;align-items:center;justify-content:space-between;width:700px;position:absolute;left:50%;top:50%;transform:translate(-50%) translateY(-50%)}.notfound .svg-icon[data-v-31afb51c]{width:400px;height:400px}.notfound .content h1[data-v-31afb51c]{margin:0;font-size:72px;color:#303133}.notfound .content .desc[data-v-31afb51c]{margin:20px 0 30px;font-size:20px;color:#606266}
